.env
.env*.local
.next
node_modules
dist
coverage
*.log
prisma/migrations/dev.db
data/analytics/
data/auto-sync.log
data/auto-sync-error.log
public/pdf.worker.min.js
data/scraped.json
data/scraped-data.ts
*.zip
*.pem
*ecosystem*

.vercel

.env*

aiexamresult.pem
